<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ConnStringLocal" connectionString="Server=localhost;Database=Academia;&#xD;&#xA;    Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Academia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.AcademiaConnectionString1"
      connectionString="Data Source=MERSER-PC;Initial Catalog=Academia;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>