<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages theme=""/>
  </system.web>
  <connectionStrings>
    <add name="ConnStringLocal" providerName="System.Data.SqlClient"
    connectionString="data source=localhost; initial catalog=Academia; integrated security=true;"/>
    
    <add name="ConnStringLocal1" providerName="System.Data.SqlClient"
    connectionString="Server=MS-11\UTNFRRO;Database=Academia;Integrated Security=false; User=net; Password=net;"/>
  </connectionStrings>   
</configuration>